//Footer

.cb__footer {
    width: 100%;
    padding: 5px 0 20px;
}

.cb__footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.cb__copyright {
    display: block;
    color: $egg;
    letter-spacing: 1pt;
}


.cb__copyright__link {
    display: block;
    text-decoration: none;
    color: $redcherry;
    @include UbuntuBold;
    margin-bottom: 5px;

    &:hover {
        color: $redwine;
        text-decoration: none;
    }
}

.cb__copyright__text {
    font-size: 13px;
    @include UbuntuLight;
}

.cb__some {
    padding: 0;
}

.cb__some__item {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;

    &:first-child {
        margin-left: 0;
    }
}

.cb__some__link {
    font-size: 40px;
    color: $redcherry;
    text-decoration: none;

    &:hover {
        color: $redwine;
        text-decoation: none;
    }
}