//-------------------------------------------------------------- */
/* =Style for index page
//-------------------------------------------------------------- */

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    @include UbuntuRegular;
    font-size: 14px;
    color: $egg;
    background: $antrazit;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}


/* =Preloader
-------------------------------------------------------------- */

.cb__cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(232, 232, 232, 0.95);
}


/* =Global
-------------------------------------------------------------- */

.cb__main {
    &.impressum {
        padding-top: 50px;
    }
}

.cb__impressum__backbtn-wrapper {
    margin-bottom: 50px;
}

#bgsvg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.cb__headline__section {
    font-size: 50px;
    line-height: 55px;
    @include LektonBold;
    text-transform: uppercase;
    margin: 30px 0;
    position: relative;
    display: inline-block;
    color: $egg;
    letter-spacing: 3pt;

    .cb__single__headline & {
        margin: 15px 0 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 40px;
        line-height: 45px;
    }

    @include media-breakpoint-only(xs) {
        font-size: 30px;
        line-height: 40px;
    }
}

.cb__divider__section {
    float: none;
    border: 0;
    border-top: 1px solid $egg;
    margin-top: 0;
}

.cb__para__section {
    @include UbuntuLight;
    font-size: 16px;
    line-height: 22px;

    @include media-breakpoint-down(sm) {
        font-size: 14px;
        line-height: 20px;
    }

    a {
        color: $redcherry;

        &:hover {
            color: $redwine;
            text-decoration: none;
        }
    }
}

.cb__link {
    color: $redcherry;

    &:hover {
        text-decoration: none;
        color: $white;
    }
}

/* =Hero Header
-------------------------------------------------------------- */

.cb__heroheader__divider {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10px;
}

.cb__heroheader {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 90vh;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }

    .svg {
        position: absolute;
        top: -300px;
    }
}

.cb__heroheader__col {
    flex: 1;

    &.title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.bg {
        background-image:url(/img/header_small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-background-size: cover;
        background-position: center;
        align-self: normal;
    }
}

.cb__heroheader__container {
    height: 100%;
}

.cb__heroheader__row {
    height: 100%;
}

.cb__heroheader__headline-wrapper {
    align-self: center;

    @include media-breakpoint-down(md) {
        align-self: flex-start;

    }
}

.cb__heroheader__image {
    width: 100%;
}

.cb__heroheader__image-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    width: auto;
    height: auto;

    &.faded {
        &:after {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border-collapse: separate;
            box-shadow: inset 40px 0 40px -16px, inset -40px 0 40px -16px;
            color: $bgfade;

            @media (min-width: 668px) and (max-width: 768px) {
                width: 70vh;
            }

            @media (max-width: 375px) {
                width: 100%;
            }
        }
    }
}

.cb__heroheader__headline {
    font-size: 80px;
    line-height: 63px;
    @include UbuntuRegular;
    color: $egg;
    border-left: 5px solid $redcherry;
    padding-left: 25px;

    @include media-breakpoint-down(sm) {
        font-size: 40px;
        line-height: 40px;
        max-width: 310px;
    }

    @include media-breakpoint-between(sm, md) {
        font-size: 40px;
        line-height: 50px;
    }

    @media (min-width: 376px) and (max-width: 667px) {
        font-size: 36px;
        line-height: 36px;
    }

    @media (min-width: 668px) and (max-width: 768px) {
        font-size: 50px;
        line-height: 50px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 60px;
        line-height: 70px;
    }

    .dark {
        color: $redcherry;
        @include UnbuntuMedium;
    }

    .second {
        @include LektonBold;
        font-size: 50px;
        line-height: 72px;

        @media (min-width: 376px) and (max-width: 667px) {
            font-size: 23px;
            line-height: 42px;
        }

        @include media-breakpoint-between(md, lg) {
            font-size: 40px;
            line-height: 50px;
        }

        @media (min-width: 668px) and (max-width: 768px) {
            font-size: 50px;
            line-height: 50px;
        }

        @media (max-width: 375px) {
            font-size: 42px;
            line-height: 42px;
        }
    }
}


/* =About
-------------------------------------------------------------- */

.cb__about__image {
    text-align: center;
}

.cb__about__banner__content {
    margin: 0 auto;
}

.cb__about__rect {
    background: $redwine;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;

    @include media-breakpoint-between(md, lg) {
        width: 22%;
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        height: 100px;
    }

    @include media-breakpoint-only(xs) {
        height: 80px;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 82px 0 82px 100px;
        border-color: transparent transparent transparent $redwine;
        position: absolute;
        right: -100px;

        @include media-breakpoint-between(lg, xl) {
            border-width: 96px 46px 96px 55px;
        }

        @include media-breakpoint-between(md, lg) {
            border-width: 104px 46px 104px 55px;
        }

        @include media-breakpoint-down(md) {
            border-width: 60px 0 50px 100px;
            left: 0;
            right: auto;
        }

        @include media-breakpoint-only(xs) {
            border-width: 60px 0 50px 0;
        }
    }
}

.cb__about__banner {
    position: relative;
    margin-bottom: 40px;
    padding: 20px 0;
}

.cb__about__banner__row {
    justify-content: center;
    margin: 0 20px;

    
  @include media-breakpoint-down(md) {
      margin: 0 15px;
  }
}

.cb__about__banner__inner {
    background: $redcherry;
    padding-bottom: 15px;
}

/* =Overlay Thumb Portfolio
-------------------------------------------------------------- */

.cb__porfolio {
    height: 100% !important;
    clear: both;
}

.cb__portfolio__overlay {
    background: #644e5b;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

.cb__portfolio__wrapper__row {
    justify-content: center;
}

.cb__porfolio__wrapper {
    margin: 0 0 60px;
}

.cb__portfolio__item__outer {
    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
}

.cb__portfolio__item {
    position: relative;
    overflow: hidden;
    display: inherit;
    height: 480px;
    background-color: $redcherry;
    background-size: cover;
    background-position: center center;
    background-blend-mode: hard-light;
    transition: box-shadow 150ms ease-out;
    min-height: 480px;

    @include media-breakpoint-only(lg) {
        height: 300px;
        min-height: 300px;
    }

    @include media-breakpoint-only(md) {
        height: 250px;
        min-height: 250px;
    }

    @include media-breakpoint-down(sm) {
        height: 200px;
        min-height: 200px;
    }
}

.cb__portfolio__item__content {
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.cb__portfolio__item__icon {
    width: 35%;
    margin: 0 auto;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    opacity: 0;

    @include media-breakpoint-down(sm) {
        width: 22%;
    }
}

.cb__portfolio__item__link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    position: relative;

    &:before,
    &:after {
        position: absolute;
        top: 30px;
        right: 20px;
        bottom: 30px;
        left: 20px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;


        @include media-breakpoint-only(md) {
            top: 20px;
            right: 10px;
            bottom: 20px;
            left: 10px;
        }
    }


    &:before {
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }

    &:after {
        border-right: 1px solid $white;
        border-left: 1px solid $white;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
    }


    &:hover {
        background-color: rgba($redwine, .9);
        text-decoration: none;

        &:before,
        &:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);

        }

        .cb__portfolio__item__icon {
            opacity: 1;
            transition-delay: 0.15s;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .cb__portfolio__item__title {
            opacity: 1;
            transition-delay: 0.15s;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

    }
}


.cb__portfolio__item__title {
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-size: 28px;
    letter-spacing: 1.2pt;
    line-height: 38px;
    color: $egg;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transform: translate3d(0, 65px, 0);
    transform: translate3d(0, 65px, 0);

    @include media-breakpoint-only(md) {
        font-size: 22px;
        line-height: 25px;
        -webkit-transform: translate3d(0, 35px, 0);
        transform: translate3d(0, 35px, 0);
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 25px;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}