//-------------------------------------------------------------- */
/* =Style for index page
//-------------------------------------------------------------- */

* {
    //@include box-sizing(border-box);
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    @include UbuntuRegular;
    font-size: 14px;
    color: $egg;
    background: $antrazit;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}


/* =Preloader
-------------------------------------------------------------- */

.cb__cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(232, 232, 232, 0.95);
}


/* =Global
-------------------------------------------------------------- */

.cb__scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: $redwine;
    text-align: center;
    color: $white;
    z-index: 3;

    span {
        color: $egg;
        font-size: 30px;
        position: absolute;
        left: 12px;
        top: 4px;
    }
}

.cb__headline__section {
    font-size: 60px;
    line-height: 70px;
    @include LektonBold;
    text-transform: uppercase;
    margin: 30px 0 0;
    position: relative;
    display: inline-block;
    color: $egg;
    letter-spacing: 3pt;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        -ms-transform: translateX(110%) translateY(-1.2rem);
        transform: translateX(110%) translateY(-1.2rem);
        background-color: $redcherry;
        height: .25rem;
        width: 1rem;
    }

    .cb__single__headline & {
        margin: 15px 0 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 40px;
        line-height: 50px;
    }
}

.cb__divider__section {
    float: none;
    border: 0;
    border-top: 1px solid $egg;
}

.cb__para__section {
    @include UbuntuLight;
    font-size: 19px;
    line-height: 23px;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 22px;
    }
}


/* =Hero Header
-------------------------------------------------------------- */

.zack {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;

}


.cb__heroheaderalt {
    margin: 0 0 80px;
    padding: 7% 20px 0;
    text-align: center;
    background: #131313;
}

.cb__heroheader {
    position: relative;
    min-height: 90vh;
    background: url(/img/header2.jpg) no-repeat fixed 50% 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    //border-bottom: 5px solid $egg;


    .svg {
        position: absolute;
        top: -300px;
    }
}

.cb__heroheader__container {
    height: 100%;

    @include media-breakpoint-up(lg) {
        //max-width: 1500px;
    }
}

.cb__heroheader__row {
    height: 100%;
}

.cb__heroheader__headline-wrapper {
    align-self: center;
}

//.cb__heroheader__inner {
//    padding: 25px;
//    background: rgba($lightgray, 0.8);
//    display: flex;
//    //height: 410px;
//    width: calc(100% - 40px);
//    margin: 20px 0 20px 20px;
//    align-items: center;
//    justify-content: center;
//}

.cb__heroheader__headline {
    font-size: 80px;
    line-height: 63px;
    @include UbuntuRegular;
    color: $egg;
    border-left: 5px solid $dark;
    padding-left: 25px;

    .dark {
        color: $dark;
        @include UnbuntuMedium;
    }

    .second {
        @include LektonBold;
        font-size: 53px;
        line-height: 72px;

    }
}


/* =About
-------------------------------------------------------------- */

.cb__about__image {
    text-align: center;
}


.cb__about__rect {
    background: $redwine;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;

    @include media-breakpoint-between(md, lg) {
        width: 22%;
    }

    @include media-breakpoint-down(md) {
        width: 100%;
        height: 100px;
    }

    &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 82px 0 82px 100px;
        border-color: transparent transparent transparent $redwine;
        position: absolute;
        right: -100px;

        @include media-breakpoint-down(md) {
            border-width: 60px 0 50px 100px;
            left: 0;
            right: auto;
        }
    }
}

.cb__about__banner {
    background: $redcherry;
    position: relative;
    margin-bottom: 40px;
    padding: 20px 0;
}

.cb__about__banner__headline-wrapper {
    display: flex;
    align-items: center;
}

.cb__about__banner__headline {
    margin: 0;

    @include media-breakpoint-down(md) {
        margin: 0 0 20px;
    }
}

/* =Overlay Thumb Portfolio
-------------------------------------------------------------- */

.cb__porfolio {
    height: 100% !important;
    clear: both;
}

.cb__porfolio__wrapper {
    margin: 30px 0 60px;
}

.cb__portfolio__item__outer {
    @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
    }
}

.cb__portfolio__item {
    position: relative;
    overflow: hidden;
    display: inherit;
    height: 100%;
    background-color: $redcherry;
    background-size: cover;
    background-position: center center;
    background-blend-mode: hard-light;
    box-shadow: 0 1px 0 rgba(30, 30, 32, 0.2) inset, 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: box-shadow 150ms ease-out;
    min-height: 480px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    @include media-breakpoint-only(lg) {
        min-height: 300px;
    }


    @include media-breakpoint-only(md) {
        min-height:  250px;
    }

    @include media-breakpoint-down(sm) {
        min-height: 200px;
    }
}

.cb__portfolio__item__content {
    padding: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.cb__portfolio__item__icon {
    width: 50%;
    margin: 0 auto;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);

    @include media-breakpoint-down(sm) {
        width: 30%;
    }
}

.cb__portfolio__item__link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;


    &:before,
    &:after {
        position: absolute;
        top: 30px;
        right: 20px;
        bottom: 30px;
        left: 20px;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }


    &:before {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
    }

    &:after {
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
    }


    &:hover {
        background-color: rgba($redwine, .9);
        text-decoration: none;

        &:before,
        &:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);

        }

        .cb__portfolio__item__icon,
        .cb__portfolio__item__title {
            transition-delay: 0.15s;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    }
}


.cb__portfolio__item__title {
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-size: 28px;
    letter-spacing: 1.2pt;
    line-height: 38px;
    color: #ccc;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);

    @include media-breakpoint-only(md) {
        font-size: 22px;
        line-height: 25px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
        line-height: 25px;
    }
}