//-------------------------------------------------------------- */
/* =Style for single page
//-------------------------------------------------------------- */

.cb__single__content {
  margin-bottom: 25px;
}


.cb__single__info__inner {
  display: flex;
  flex-direction: column;
  margin: 20px 0 auto auto;
}


.cb__single__info__headline {
  @include UbuntuBold;
  font-size: 14px;
  line-height: 18px;
  margin:0;
}


.cb__single__info__para {
  @include UbuntuLight;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
}



/* =Controls
-------------------------------------------------------------- */
.cb__single__controls {
  margin-bottom: 50px;
}

.cb__single__btn {
  width: 100px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border: 1px solid $lightgray;
  font-size: 24px;

  &.home {
    float: left;
  }

  &.back,
  &.forward {
    float: right;
    margin-left: 8px;
  }
}


.cb__single__btn__link {
  background: transparent;
  outline: none;
  position: relative;
  overflow: hidden;
  display: block;
  color: $textcolor;

  &:before {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    opacity: 0;
    transform: translate(100%, 0);
    transition: all .3s ease-in-out;
    font-size: 10px;
    background: $primary;
  }

  &:hover {
    cursor: pointer;

    &:before {
      opacity: 1;
      transform: translate(0, 0);
      color: #111;
      font-weight: 100;
    }

    .cb__single__btn__icon {
      opacity: 0;
      transform: translate(100%, 0);
    }
  }
}

.cb__single__btn__icon {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  transition: all .3s ease-in-out;
}


/* =Slider
-------------------------------------------------------------- */

.cb__single__slider {
  position: relative;
}

.cb__single__slider__control__inner {
  position: absolute;
  top: calc(50% - 24px);
  color: #fff;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 30px;
  text-align: center;

  &.left {
    left: 20px;
  }

  &.right {
    right: 20px;
  }
}

.cb__single__slider__link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #111111;
  border: 1px solid #fff;

  &:hover {
    color: #fff;
    background: $primary;
    border: 1px solid $primary;
  }
}