@mixin font-black {
  font-family: NerisBlack, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin font-light {
  font-family: NerisLight, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin font-lightitalic {
  font-family: NerisLightItalic, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

