@font-face {
  font-family: 'LektonBold';
  src: url('/fonts/lekton/lekton-bold-webfont.woff2') format('woff2'),
       url('/fonts/lekton/lekton-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'UbuntuLight';
  src: url('/fonts/ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
  url('/fonts/ubuntu/ubuntu-light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'UbuntuRegular';
  src: url('/fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
  url('/fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'UbuntuMedium';
  src: url('/fonts/ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
  url('/fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'UbuntuBold';
  src: url('/fonts/ubuntu/ubuntu-bold-webfont.woff2') format('woff2'),
  url('/fonts/ubuntu/ubuntu-bold-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}

@mixin LektonBold {
  font-family: LektonBold, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

@mixin UbuntuLight {
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin UbuntuRegular {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin UnbuntuMedium {
  font-family: UbuntuMedium, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

@mixin UbuntuBold {
  font-family: UbuntuBold, Arial, Helvetica, sans-serif;
  font-weight: 700;
}