@font-face{ 
	font-family: 'NerisBlack';
	src: url('../fonts/neris_black/Neris-Black-webfont.eot');
	src: url('../fonts/neris_black/Neris-Black-webfont.eot?iefix') format('eot'),
	     url('../fonts/neris_black/Neris-Black-webfont.woff') format('woff'),
	     url('../fonts/neris_black/Neris-Black-webfont.ttf') format('truetype'),
	     url('../fonts/neris_black/Neris-Black-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'NerisLight';
	src: url('../fonts/neris_light/Neris-Light-webfont.eot');
	src: url('../fonts/neris_light/Neris-Light-webfont.eot?iefix') format('eot'),
	     url('../fonts/neris_light/Neris-Light-webfont.woff') format('woff'),
	     url('../fonts/neris_light/Neris-Light-webfont.ttf') format('truetype'),
	     url('../fonts/neris_light/Neris-Light-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'NerisLightItalic';
	src: url('../fonts/neris_lightitalic/Neris-LightItalic-webfont.eot');
	src: url('../fonts/neris_lightitalic/Neris-LightItalic-webfont.eot?iefix') format('eot'),
	     url('../fonts/neris_lightitalic/Neris-LightItalic-webfont.woff') format('woff'),
	     url('../neris_lightitalic/Neris-LightItalic-webfont.ttf') format('truetype'),
	     url('../neris_lightitalic/Neris-LightItalic-webfont.svg#webfont') format('svg');
}

@mixin font-black {
  font-family: NerisBlack, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin font-light {
  font-family: NerisLight, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@mixin font-lightitalic {
  font-family: NerisLightItalic, Arial, Helvetica, sans-serif;
  font-weight: 300;
}